### Linux
*~
*.swp

### Windows
Thumbs.db
desktop.ini

### Mac OS X
.DS_Store
._*


### Assets and Content folders (not relevant to the site's construction)
/assets/
/content/

### Old Piwigo gallery (not part of this project)
/gallery/

### .htaccess may be different for each server
.htaccess
