### Linux
*~
*.swp

### Windows
Thumbs.db
desktop.ini

### Mac OS X
.DS_Store
._*


*.bak

### Content of folders not needed for the software framework (but the empty folders must be present)
/assets/**
/comments/**
/content/**

### Old Piwigo gallery (not part of this project)
/gallery/
/testing/

### Live site config (but the config template will remain)
/config/config.yml

### .htaccess may be different for each server
.htaccess
