### Linux
*~
*.swp

### Windows
Thumbs.db
desktop.ini

### Mac OS X
.DS_Store
._*


### Media in the Assets folder (which eats a tonne of space)
/assets/*

### Old Piwigo gallery (not part of this project)
/gallery/