<!-- Modal lightbox to view full-size images -->
<div id="lightbox" class="modal">

		<div id="lightbox-content">
			<canvas id="canvas">
				<!-- This content is a fallback in case the browser can't display the canvas -->
				<img id="lightbox-image" style="max-width: 100%; max-height: 100%; margin: auto; box-shadow: 0 0 20px 0 black;">
			</canvas>
	
			<!-- Close button -->
			<span id="lightbox-close" onclick="lightboxExitButton()"><svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 256 256"><title>Close image</title><path d="M208.49,191.51a12,12,0,0,1-17,17L128,145,64.49,208.49a12,12,0,0,1-17-17L111,128,47.51,64.49a12,12,0,0,1,17-17L128,111l63.51-63.52a12,12,0,0,1,17,17L145,128Z" /></svg></span>

			<!-- Next/previous controls -->
			<span id="lightbox-prev" onclick="lightboxChange(-1)"><svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 256 256"><path d="M168.49,199.51a12,12,0,0,1-17,17l-80-80a12,12,0,0,1,0-17l80-80a12,12,0,0,1,17,17L97,128Z" /></svg></span>
			<span id="lightbox-next" onclick="lightboxChange(1)"><svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 256 256"><path d="M184.49,136.49l-80,80a12,12,0,0,1-17-17L159,128,87.51,56.49a12,12,0,1,1,17-17l80,80A12,12,0,0,1,184.49,136.49Z" /></svg></span>

			<!-- Caption text -->
			<!-- div id="lightbox-caption">
			  <p id="caption"></p>
			</div -->
		</div>

</div>

<script src="{{ theme_url }}/js/bigraccoon-lightbox.js"></script>
