{# If there is no special announcement, leave this file empty #}
{#
<!-- Announcements banner -->

<div>
	<header class="box faded align-center">
		<h4 class="faded">This site is completely new!</h4>
		<p class="align-center">...Which means it may have bugs!  Feel free to <a href="mailto:jsstaedtler@bigraccoon.ca">notify me</a> if you encounter any problems!</p>
	</header>
</div>

<!-- -------------------- -->
#}