{# A standard article.  It will have a date, H2 title, a blurb, and prev/next buttons #}
{% extends "_base.twig" %}

{% block page_body %}

				<!-- A post -->
				<section class="post">
				
					<header class="major">
						{% if meta.title %}<h2>{{ meta.title }}</h2>{% endif %}
					</header>
					
				{% if user %}
					Logged in as {{ username }}
				{% else %}
					Not logged in
				{% endif %}

				<form method="post" action="">
				
				{% if user %}
					<input type="submit" name="logout" value="Disable" />
				{% else %}
					
					{{ content }}
					
					<input type="hidden" name="login" value="eighteen" />
					<input type="hidden" name="pass" value="eighteen" />
					<input type="submit" name="agree" value="Agree and continue" />
					
				{% endif %}
				
				</form>

				</section>

{% endblock page_body %}
