{# A plain old page, with a simple H1 title and content #}
{% extends "_base.twig" %}

{% block page_content %}

	<header class="major">
		<h1>{{ meta.title }}</h1>
	</header>
	
	{{ content }}
							
{% endblock page_content %}
