{# Copyright statements #}
<div id="copyright"><ul>
    <li>Original works by JS Staedtler provided under <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons license CC BY 4.0</a></li>
    <li>Site content managed using <a href="https://picocms.org/">Pico</a></li>
    <li>Site design adapted from <a href="https://html5up.net/uploads/demos/massively/">Massively</a> by <a href="https://html5up.net">HTML5 UP</a></li>
</ul></div>
<!-- ------------------ -->
