@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900");


body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#nav {
  overflow: hidden;
  background-color: #333;
}

#nav img {
	height: 3rem;
}

#nav a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#navLinks {
	position: relative;
	left: 0;
	overflow: hidden;
	display: none;
	background-color: gray;
}

#navLinks.panelVisible {
	display: block;
}

#navLinks ul {
	list-style: none;
}

#navLinks ul.links {
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

#nav a:hover, #navLinks:hover ul.links {
	background-color: red;
}

#navLinks ul.links li {
	display: list-item;
}


/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			display: inline-block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			line-height: 1;
			text-transform: none !important;
			font-family: 'Font Awesome 5 Free';
			font-weight: 400;
		}

		.icon > .label {
			display: none;
		}

		.icon:before {
			line-height: inherit;
		}

		.icon.solid:before {
			font-weight: 900;
		}

		.icon.brands:before {
			font-family: 'Font Awesome 5 Brands';
		}
